<!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="<%= controller.controller_name == "dashboard" ? 'nav-item active' : 'nav-item' %>">
        <%= link_to backoffice_dashboard_path, class: "nav-link" do %>
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li class="<%= controller.controller_name == "admins" ? 'nav-item active' : 'nav-item' %>" >
        <%= link_to backoffice_admins_path, class: "nav-link" do %>
          <i class="fas fa-fw fa-users"></i>
          <span>Administradores</span>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-cog"></i>
          <span>Configuração</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Cadastros</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" href="#">Tarefas</a>
          <a class="dropdown-item" href="#">Ordens</a>
          <a class="dropdown-item" href="#">Tickets</a>
        </div>
      </li>
    </ul>